@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --building-color: #FF9800;
  --house-color: #0288D1;
  --shop-color: #7B1FA2;
  --warehouse-color: #558B2F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*
 * Property styles in unhighlighted state.
 */
.property {
  align-items: center;
  border-radius: 8px;
  color: #263238;
  display: flex;
  font-size: 14px;
  height: 90px;
  justify-content: center;
  transition: all 0.3s ease-out;
  width: 70px;
}

/* .property::after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 9px solid #FFFFFF;
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  top: 95%;
  transform: translate(-50%, 0);
  transition: all 0.3s ease-out;
  width: 0;
  z-index: 1;
} */

/* .property .icon {
  align-items: center;
  display: flex;
  justify-content: center;
  color: #FFFFFF;
} */

/* .property .icon svg {
  height: 20px;
  width: auto;
} */

.property .details {
  display: none;
  flex-direction: column;
  flex: 1;
}

/* .property .address {
  color: #9E9E9E;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
} */

/* .property .features {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.property .features > div {
  align-items: center;
  background: #F5F5F5;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  font-size: 10px;
  gap: 5px;
  padding: 5px;
} */

/*
 * Property styles in highlighted state.
 */
.property.highlight {
  background-color: #FFFFFF;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
  height: 180px;
  padding: 8px 15px;
  width: auto;
}

/* .property.highlight::after {
  border-top: 9px solid #FFFFFF;
} */

.property.highlight .details {
  display: flex;
}

/* .property.highlight .icon svg {
  width: 50px;
  height: 50px;
}

.property .bed {
  color: #FFA000;
}

.property .bath {
  color: #03A9F4;
}

.property .size {
  color: #388E3C;
} */



.marker {
  transform: perspective(40px) rotateX(20deg) rotateZ(-45deg);
  transform-origin: 50% 50%;
  border-radius: 50% 50% 50% 0;
  padding: 0 3px 3px 0;
  width: 40px;
  height: 40px;
  background: blue;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -2.2em 0 0 -1.3em;
  box-shadow: -1px 1px 4px rgba(0, 0, 0, .5);
}

.marker:after {
  content: '';
  width: 1em;
  height: 1em;
  margin: 1.5em 0 0 1.2em;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  box-shadow: inset -2px 2px 4px hsla(0, 0, 0, .5);
}

.beacon {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 3em;
  width: 3em;
  border-radius: 50%;
  transform: translateX(-35%);
  z-index: -1
}

.beacon:before,
.beacon:after {
  position: absolute;
  content: "";
  height: 3em;
  width: 3em;
  left: 0;
  top: 15px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 3px blue;
  animation: active 2s infinite linear;
}

.beacon:after {
  animation-delay: 1s;
}

@-webkit-keyframes active {
  0% {
    -webkit-transform: scale(.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(2.5);
    opacity: 0;
  }
}

@keyframes active {
  0% {
    transform: scale(.1);
    transform: box-shadow(0px 0px 0px 1px blue);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}